<br>
<h1>Cantantes</h1>
<ul class="integrantes">
    
    <table id="integrantes">
        <tr> <th> Id </th> <th> Nombre </th> <th> Fecha Nacimiento </th> <th> Foto </th> </tr>        
        <tr *ngFor="let integrante of integrantes">
          <td>{{ integrante.Id }}</td>
          <td>{{ integrante.Nombre }} {{integrante.Apellido}}</td>
          <td>{{ integrante.FechaNacimiento | date: 'dd/MM/yyyy'}}</td>
          <td><img [src]="sanitize(integrante.Foto)" height="50px"></td>
        </tr>
      </table>
</ul>
<br>
<button (click)="goBack()">Atras</button>