<div class="login-box" style="text-align: center; width: 50%;">
    <mat-card class="aligner-center-item">
      <mat-card-title style="color: #4c8baf;">
        Login
      </mat-card-title>
      <br>
      <mat-card-content>
        <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate style="text-align: center">

            <input matInput type="text" formControlName="UserName" placeholder="Username"/>

          <br>          

            <input matInput type="password" formControlName="Password" placeholder="Password"/>

        </form>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button type="submit" form="login-form"> Iniciar sesión</button>
        <br/>
        <a routerLink="/registro">Registrarse</a>
      </mat-card-actions>
    </mat-card>
    <label style="color: red;" *ngIf="mensajeError">{{mensajeError}}</label>
  </div>