<div class="login-box" style="text-align: center; width: 50%;">
    <mat-card class="aligner-center-item">
      <mat-card-title style="color: #4c8baf;">
        Login
      </mat-card-title>
      <br>
      <mat-card-content>
        <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate style="text-align: center">
          <mat-input-container style="width: 100%; margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
            <input matInput type="text" formControlName="UserName" placeholder="Username"/>
            <mat-hint style="color: red;" *ngIf="submitted && error?.code == 1 && !loginForm.controls.UserName.hasError('required')">{{error.message}}</mat-hint>
            <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.UserName.hasError('required')">Field is mandatory</mat-hint>
          </mat-input-container>
          <br>          
          <mat-input-container style="width: 100%; margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
            <input matInput type="password" formControlName="Password" placeholder="Password"/>
            <mat-hint style="color: red;" *ngIf="submitted && error?.code == 2 && !loginForm.controls.Password.hasError('required')">{{error.message}}</mat-hint>
            <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.Password.hasError('required')">Field is mandatory</mat-hint>
          </mat-input-container>
        </form>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button type="submit" form="login-form"> Iniciar sesión</button>
      </mat-card-actions>
    </mat-card>
  </div>