<div *ngIf="banda">

  <h2>{{banda.Nombre}} Detalle</h2>
  <!-- <div><span>Id: </span>{{banda.Id}}</div> -->
  <div><span>Nombre: </span>{{banda.Nombre}}</div>
  <div><span>Genero: </span>{{banda.Genero.Descripcion}}</div>
  <div><span>Año creación: </span>{{banda.AnioCreacion}}</div>
  <div *ngIf="banda.AnioSeparacion > 0"><span>Anio separación: </span>{{banda.AnioSeparacion}}</div>
  <br />
  <div *ngIf="banda.Integrantes.length > 0">
    <div>Integrantes</div>
    <div *ngFor="let integrante of banda.Integrantes">
      Nombre: {{integrante.Nombre}} {{integrante.Apellido}}
    </div>
  </div>
  <br />
  <app-resenia-banda [banda]="banda"></app-resenia-banda>

  <button (click)="goBack()">Atras</button>
</div>

<!-- [(ngModel)]="banda.Nombre" placeholder="Nombre"/> -->

<!-- <li *ngFor="let banda of bandas">
    <a routerLink="/detail/{{banda.Nombre}}">
    <span class="badge">{{banda.Id}}</span> {{banda.Nombre}}
</a>
</li> -->