<div *ngIf="album">
    <h2>{{album.Nombre}} Detalle</h2>
    <!-- <div><span>Id: </span>{{banda.Id}}</div> -->
    <div><span>Nombre: </span>{{album.Nombre}}</div>
    <div><span>Genero: </span>{{album.Genero.Descripcion}}</div>
    <div><span>Año creación: </span>{{album.AnioCreacion}}</div>    
    <br />
    <div *ngIf="album.Canciones.length > 0">
      <div>Canciones</div>
      <table id="canciones">
        <tr> <th> Id </th> <th> Nombre </th><th> Cantante </th>  <th> Duracion </th> </tr>        
        <tr *ngFor="let cancion of album.Canciones">
          <td>{{ cancion.Id }}</td>
          <td>{{ cancion.Nombre }}</td>
          <td>{{ cancion.Cantante.Nombre }} {{ cancion.Cantante.Apellido }}</td>
          <td>{{ cancion.Duracion}} min</td>
        </tr>
      </table>
<!-- 
      <div *ngFor="let cancion of album.Canciones">
        Nombre: {{cancion.Nombre}}
        Duracion: {{cancion.duracion}}
        cancion.
      </div> -->
    </div>
    <br />    
    <button (click)="goBack()">Atras</button>
  </div>