<div *ngIf="album">
  <br>
    <h1>{{album.Nombre}}</h1>
    
    
    <table id=album>
      <tr>
        <th style="width: 20%;">Nombre:</th>
        <td>{{album.Nombre}}</td>
      </tr> 
      <tr>
        <th style="width: 20%;">Genero:</th>
        <td>{{album.Genero.Descripcion}}</td>
      </tr>
      <tr>
        <th style="width: 20%;">Año Creacion:</th>
        <td>{{album.AnioCreacion}}</td>
      </tr>
    </table>
  <br>
  



    <br />
    <div *ngIf="album.Canciones.length > 0">
      <div><h1>Canciones</h1></div>
      <table id="canciones">
        <tr> <th> Id </th> <th> Nombre </th><th> Cantante </th>  <th> Duracion </th> </tr>        
        <tr *ngFor="let cancion of album.Canciones">
          <td>{{ cancion.Id }}</td>
          <td>{{ cancion.Nombre }}</td>
          <td>{{ cancion.Cantante.Nombre }} {{ cancion.Cantante.Apellido }}</td>
          <td>{{ cancion.Duracion}} min</td>
        </tr>
      </table>

    </div>
    <br />    
    <button (click)="goBack()">Atras</button>
  </div>