<br>
<h1>Top Bandas</h1>
<div class="grid grid-pad">
  <a *ngFor="let banda of bandas" class="col-1-4" routerLink="/detailBanda/{{banda.Nombre}}">
    <div class="module banda">
      <h4>{{banda.Nombre}}</h4>
      <h5>{{banda.PromedioResenias.toFixed(2)}}</h5>
    </div>
  </a>
</div>
<br>
<h1>Top Canciones</h1>
<div class="grid grid-pad">
  <a *ngFor="let cancion of canciones" class="col-1-4" routerLink="/detailCancion/{{cancion.Nombre}}">
    <div class="module cancion">
      <h4>{{cancion.Nombre}}</h4>
      <h5>{{cancion.PromedioResenias.toFixed(2)}}</h5>
    </div>
  </a>
</div>
